:root{
  --Princpal1:#0098fd;
  --segundario:#000000;
  --Princpal:#1c96e83f;
}
.contenedor{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.grid-container {
   
    display: grid;
    grid-template-columns: auto auto auto;
   }

  .icono {
    width: 50px;
  }
 
 
  .InonosIzquierda{
    display: flex; 
     gap: 10px;
  }

  .contenedor p {
font-size: 20px;
text-align: center;
font-weight: bold;

  }
  /*********Columna intermedia**********/
  .img_intermedia{
    display: flex;
    gap: 25px;
    text-align: center;
    padding-left: 25px;
    
  }
  .img_intermedia img{
 
    width: 100px;
    border-radius: 50px;
  }
  .img_intermedia p {
    margin: 25px 0px;
   height: 50px;
   align-items: center;
   font-size: 25px;
   color: black;
    
  }
  span{
    margin: 25px 0px;
    padding: 6px;
    color: rgba(27, 17, 17, 0.379);
  }
  .Comentario  p {
    padding-left: 130px;
    font-size: 20px;
    color: black;
    margin: 0px;
  }

  .Comentario{
    padding-bottom: 20px;
     border-bottom-style:solid ;

     color: #1c96e82a;

    } 
.ImgComentario img{
    border-radius: 50px;
    text-align: center;
    padding-bottom: 10px;
    width: 900px;

}
input[type=text] {
  width: 50%;

  
  border-radius: 4px;
  font-size: 16px;
  background-color: white;

  background-position: 10px 10px; 
  
  padding: 12px 20px 12px 40px;
}
.tendecia{
  padding-top: 50px;
}
.tendecia{
  display: block;
  background-color:white;
  border-radius: 10px;
  padding: 30px;
  align-items: Center;
}
.tendecia p{
margin: 0px;
}
.tendecia h4{
  margin: 0px;
  background-color: var(--segundario);
  color: white;
  border-radius: 50px;
  text-align: center;
  padding: 5px;

}

.Solicitud h4:hover{
  background-color: var(--Princpal);
  color: var(--segundario);
}
.colum3{
  background-color:#a6afb411 ;
  padding-right: 50px;
  padding-left: 50px;
}
.twitter{
  margin: 0px;
  padding: 1px;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-radius: 50px;
  background-color: var(--Princpal1);
}



